In [1]:
import pandas as pd
df = pd.read_csv('titanic.csv')
df.head()

,PassengerId,Name,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Survived
0,1,"Braund, Mr. Owen Harris",3,male,22.0,1,0,A/5 21171,7.2500,NaN,S,0
1,2,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1,female,38.0,1,0,PC 17599,71.2833,C85,C,1
2,3,"Heikkinen, Miss. Laina",3,female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,1
3,4,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",1,female,35.0,1,0,113803,53.1000,C123,S,1
4,5,"Allen, Mr. William Henry",3,male,35.0,0,0,373450,8.0500,NaN,S,0

In [2]:
df.drop(['PassengerId', 'Name', 'SibSp','Parch','Ticket','Fare','Cabin','Embarked'], axis = 1, inplace = True)
df.head()

   Pclass     Sex   Age  Survived
0       3    male  22.0         0
1       1  female  38.0         1
2       3  female  26.0         1
3       1  female  35.0         1
4       3    male  35.0         0

In [3]:
target = df.Survived
inputs = df.drop('Survived', axis = 'columns')

In [4]:
dummies = pd.get_dummies(inputs.Sex,dtype = int)
dummies.head(3)

   female  male
0       0     1
1       1     0
2       1     0

In [5]:
input = pd.concat([inputs, dummies], axis = 1)
input.head(3)

   Pclass     Sex   Age  female  male
0       3    male  22.0       0     1
1       1  female  38.0       1     0
2       3  female  26.0       1     0

In [6]:
input.drop('Sex', axis = 1, inplace = True)
input.head(3)

   Pclass   Age  female  male
0       3  22.0       0     1
1       1  38.0       1     0
2       3  26.0       1     0

In [7]:
input.columns[input.isna().any()]

Index(['Age'], dtype='object')

In [8]:
inputs.Age[:10]

0    22.0
1    38.0
2    26.0
3    35.0
4    35.0
5     NaN
6    54.0
7     2.0
8    27.0
9    14.0
Name: Age, dtype: float64

In [9]:
input['Age'] = input['Age'].fillna(input['Age'].mean())

In [10]:
input.head()

   Pclass   Age  female  male
0       3  22.0       0     1
1       1  38.0       1     0
2       3  26.0       1     0
3       1  35.0       1     0
4       3  35.0       0     1

In [11]:
from sklearn.model_selection import train_test_split
X_train,X_test, y_train,y_test = train_test_split(input, target, test_size=0.2)

In [12]:
len(X_train)

712

In [13]:
from sklearn.naive_bayes import GaussianNB
model = GaussianNB()

In [14]:
model.fit(X_train, y_train)

GaussianNB()

In [15]:
model.score(X_test, y_test)

0.8212290502793296

In [16]:
X_test

     Pclass        Age  female  male
828       3  29.699118       0     1
849       1  29.699118       1     0
219       2  30.000000       0     1
814       3  30.500000       0     1
366       1  60.000000       1     0
..      ...        ...     ...   ...
313       3  28.000000       0     1
525       3  40.500000       0     1
104       3  37.000000       0     1
725       3  20.000000       0     1
672       2  70.000000       0     1

[179 rows x 4 columns]

In [17]:
y_test

828    1
849    1
219    0
814    0
366    1
      ..
313    0
525    0
104    0
725    0
672    0
Name: Survived, Length: 179, dtype: int64

In [18]:
model.predict(X_test[:10])

array([0, 1, 0, 0, 1, 0, 0, 0, 0, 1], dtype=int64)

In [19]:
model.predict_proba(X_test[:10])

array([[0.97489395, 0.02510605],
       [0.00383327, 0.99616673],
       [0.94398739, 0.05601261],
       [0.97504539, 0.02495461],
       [0.00277925, 0.99722075],
       [0.97474492, 0.02525508],
       [0.97319407, 0.02680593],
       [0.94018676, 0.05981324],
       [0.94301511, 0.05698489],
       [0.0038936 , 0.9961064 ]])